.card-container {
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 35vh;
  margin-bottom: 2rem;
}

.card__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.image-container {
  margin: 1rem;
  width: 15vh;
  height: 15vh;
  overflow: hidden;
  border-radius: 20%;

  img {
    width: 100%;
    height: auto;
  }
}

.action-button {
  display: block;
  height: 15vh;
  width: 15vh;
}


