<mat-card class="hero-card">

  <mat-card-header>
    <mat-card-title>
      {{hero.name}}
    </mat-card-title>
  </mat-card-header>

  <mat-card-content class="hero-card-content">

    <div class="hero-avatar" mat-card-avatar>
      <img alt="{{hero.name}}"
           mat-card-image
           src="{{hero.image}}">
    </div>

    <div class="hero-stats">
      <div>Power: {{hero.powerstats.power}}</div>
      <div>Agility: {{hero.powerstats.durability}}</div>
      <div>Intelligence: {{hero.powerstats.intelligence}}</div>
    </div>

  </mat-card-content>

  <mat-card-actions>

    <button (click)="setSelectedHero()"
            [disabled]="hero.id === selectedHeroId"
            color="primary"
            mat-raised-button>
      Select Hero
    </button>

  </mat-card-actions>
</mat-card>
