<div class="hero-search">

  <form [formGroup]="searchForm">
    <div class="search-container">
      <app-alphabet-selection
        (letterSelected)="selectLetter($event)"
      ></app-alphabet-selection>
      <app-search-form-input [formControlName]="'searchField'"></app-search-form-input>
      <button mat-raised-button
              color="primary"
              (click)="onSubmit()"
      >
        Search
      </button>
    </div>
  </form>
  <div class="recent-searches">
    <mat-chip-listbox>
      <mat-chip-option *ngFor="let search of recentSearches">
        {{search}}
      </mat-chip-option>
    </mat-chip-listbox>
  </div>

  <ng-container *ngFor="let hero of heroes">
    <app-hero-card
      (heroSelectBtnClick)="selectHero($event)"
      [selectedHeroId]="selectedHero"
      [hero]="hero!"
    >
    </app-hero-card>
  </ng-container>
</div>
