<div class="hero-search">

  <app-search-form [form]="searchForm">
    <app-alphabet-selection
      (letterSelected)="selectLetter($event)"
    ></app-alphabet-selection>

    <button (click)="onSubmit()" color="primary" mat-raised-button>
      Search
    </button>
  </app-search-form>

  <app-recent-searches (heroSelected)="onRecentHeroSelect($event)"></app-recent-searches>

  <div *ngIf="heroes; else loading">
    <ng-container *ngFor="let hero of heroes | searchHero:searchValue">
      <app-hero-card
        (heroSelected)="selectHero($event)"
        [hero]="hero"
        [selectedHeroId]="selectedHero"
      >
      </app-hero-card>
    </ng-container>
  </div>
</div>

<ng-template #loading><p>Please wait...</p></ng-template>
